<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<title>TW-Dashboard APP</title>
		<link rel="stylesheet" type="text/css" href="../../assets/css/adicons-v1.0/style.css">
		<link rel="stylesheet" type="text/css" href="../../assets/css/gnb.css">
		<link rel="stylesheet" type="text/css" href="../../assets/css/atd.css">

		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script src="https://code.highcharts.com/modules/export-data.js"></script>
		<script src="https://code.highcharts.com/modules/accessibility.js"></script>
	</head>
	<body>
	<!-- gnb -->
	<nav class="gnb">
		<a class="gnb-brand" href="#">
			<img src="../../assets/images/brand-wordmark.svg" alt="Tradingworks">
		</a>
		<div class="gnb-navbar">
			<ul class="navbar-nav mr-auto font-weight-bold">
				<li class="nav-item">
					<a class="nav-link" href="#" data-release="New">Dashboard</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
						 aria-expanded="false">Insight</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">서브메뉴 1</a>
						<a class="dropdown-item" href="#">서브메뉴 2</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Audience</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Kakaomoment</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Report</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Asset</a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="#">Support</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="ico ic-cog"></i>
						<span class="sr-only">Manage</span>
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Ad Accounts</a>
						<a class="dropdown-item" href="#">Companies</a>
						<a class="dropdown-item" href="#">Users</a>
						<a class="dropdown-item" href="#">Billing</a>
						<a class="dropdown-item" href="#">DMP Usage History</a>
					</div>
				</li>
				<li class="nav-item nav-item-user dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown-userNav" data-toggle="dropdown" aria-haspopup="true"
						 aria-expanded="false">
						<i class="ico ic-user"></i>
						<span class="sr-only">account.name@igaworks.com</span>
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdown-userNav">
						<div class="dropdown-item">
							장우영 <br>
							<a href="#">
								liam.jang@igaworks.com
							</a>
						</div>
						<div class="dropdown-divider"></div>
						<h6 class="dropdown-header">
							채널 연결현황
						</h6>
						<div class="dropdown-item">
							<img src="../../assets/images/channel-ico-googleads.svg" alt="Google Ads" style="width: 1.4rem;"/>
							<a class="ml-1 text-secondary" href="#">higher@gmail.com</a>
						</div>
						<div class="dropdown-item">
							<img src="../../assets/images/channel-ico-facebook.svg" alt="Facebook" style="width: 1.4rem;"/>
							<a class="ml-1 text-secondary" href="#">higher@gmail.com</a>
						</div>
						<div class="dropdown-item">
							<img src="../../assets/images/channel-ico-kakaomoment.svg" alt="Kakaomoment" style="width: 1.4rem;"/>
							<a class="ml-1 " href="#">채널 연결하기</a>
						</div>
						<div class="dropdown-item">
							<img src="../../assets/images/channel-ico-tradingworks.svg" alt="Tradingworks" style="width: 1.4rem;"/>
							<a class="ml-1 text-secondary" href="#">higher@gmail.com</a>
						</div>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">
							로그아웃
						</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
	<!-- /gnb -->

	<!-- twWrapper -->
	<div class="twWrapper-full">
		<!-- contentWrapper -->
		<div class="contentWrapper">
			<!-- mainContent -->
			<main id="dashboard" class="mainContent is-blank">
				<!-- mainheader -->
				<header class="mainheader mainheader-sticky">
				</header>
				<!-- /mainheader -->
				<!-- mainbody -->
				<div class="mainbody pb-6">
					<!-- container -->
					<div class="container">
					</div>
					<!-- /container -->
				</div>
				<!-- /mainbody -->
			</main>
			<!-- mainContent -->
		</div>
		<!-- /contentWrapper -->
	</div>
	<!-- /twWrapper -->
	</body>
</html>
