
/*
//계정설정 -- 사용안함
.account-setting { 
	.account-setting__header {
		font-weight: $font-weight-bold;
	}

	.account-setting__body {
		display: flex; 
		flex-wrap: wrap;
		align-items:center;
		height: 17.5rem;
	}
}
.account-setting__status {
	text-align: center;
	width: 100%;
	.ico {
		@extend .h3; 
		display: block;
	}
}

.account-setting__desc {
	width: 100%;
	text-align: center;
}

*/
