


/* -------------------------------- */
// .page__adlabel : 광고 계정 라벨

.page__adlabel {
	.page-header {
		//margin-left: $aside-width;
	} 
	.aside {
		top: calc(#{$gnb-height} + #{$page-header-height});
		.aside__header {
			height: $gnb-height; 
		}
	}
	.main {  
		padding-top: calc(#{$gnb-height} + #{$page-header-height} + (#{$grid-gutter-width} / 2));
		.main-header {
			top: calc(#{$gnb-height} + #{$page-header-height});
		}
		.main-body {
			padding: ($grid-gutter-width / 2) !important;
		}
	}
}



.card-adlabel-account {
	.controller {
		.dropdown {
			transition: $transition-base;

			&.is-hidden {
				display: none;
				transition: $transition-base;
			} 
			&.is-visiable {
				transition: $transition-base;
			}
			
			.dropdown-menu-adlabel { 
				.list-dropdown-adlabel {
					max-height: 160px !important;
					margin: 0;
				}
			}
			
		}
	}
}

//
.gridbar-adlabel {
	.gridbar-row {  
		.gcol-channel {
			flex: 0 0 auto;
			width: 5rem;
			text-align: center;

			.ico {
				font-size: $font-size-xl;
			}
			small {
				display: block;
			}
		}
		.gcol-adaccount {
			min-width: 25.5rem;
		}
		.gcol-label {
			flex: 0 0 auto;
			width: 22rem;
		}
		.gcol-count {
			flex: 0 0 auto;
			width: 7.75rem;
		}
		.gcol-budget {
			flex: 0 0 auto;
			width: 12rem;
			//padding-right: calc(1.5rem + #{$table-cell-padding}) !important;
		} 
	}

	.gridbar-footer {
		padding: 0;
		padding-left: 3rem;

		.table-fixed { 
			thead {
				tr{
					th { 
						&:first-child {
							border-left: 0;
						}
						&:last-child {
							border-right: 0;
						}
					}
					&:first-child {
						th {
							border-top: 0;
						}
					}
				}
			}
			tbody {
				tr {
					th,
					td { 
						vertical-align: middle;
						&:first-child {
							border-left: 0;
						}
						&:last-child {
							border-right: 0;
						}
					}
					&:last-child {
						th,
						td {
							border-bottom: 0;
							&:first-child {
								border-left: 0;
							}
							&:last-child {
								border-right: 0;
							}
						}
					}
				}
			}
			.col-onoff {
				font-size: $font-size-sm;
				width: 5rem;
			}
			.col-campaign {}
			.col-info {
				width: 30rem;
			}
			.col-budget {
				width: 12rem;
			}
		}
	} 
}
 
.gridbar-adlabel--all {
	@extend .gridbar-adlabel;

	.gcol-adaccount {
		min-width: 32.25rem;
	}

	.gridbar-footer { 
		padding-left: 6rem;
	}
}





