

// Global navigation bar
$gnb-z-index: 20;
$gnb-min-width: 1440px;
$gnb-width: 100vw;
$gnb-height: 5.6rem;
$gnb-bgcolor: $white;
$gnb-nav-link-color: $gray-800;
$gnb-nav-link-active-color: $primary;