

// Global navigation bar
$gnb-z-index: 11; // dropdown menu 레이어를 띄우기 위함.
$gnb-min-width: 1440px;
$gnb-width: 100vw;
$gnb-height: 5.6rem;
$gnb-bg: $white;
$gnb-nav-link-color: $gray-800;
$gnb-nav-link-active-color: $primary;


// Layout
$frame-min-width: 1440px;
$frame-min-height: calc(900px - #{$gnb-height});
$frame-height: calc(100vh - #{$gnb-height});
$frame-bg: $gray-50;


// Side navigation bar
$snb-z-index: 9;
$snb-width: 5.6rem;
$snb-width-hover: 26rem;
$snb-height: $frame-height;
$snb-bgcolor: $white;
$snb-transition-base: all .2s ease-in-out !default;
$snb-box-shadow: 0 0 4px rgba($black, 0.1);

$snb-nav-item-spacer-y: $spacer / 2;
$snb-nav-item-spacer-x: $spacer;
$snb-nav-item-width: 4rem;
$snb-nav-item-height: 4rem;
$snb-nav-item-color: $body-color;
$snb-nav-item-color-active: $primary;
$snb-nav-item-bgcolor-active: rgba($primary, 0.15);
$snb-nav-item-bgcolor-hover: rgba($primary, 0.05);
$snb-nav-item-radius: 5rem;

// Side Content
$side-z-index: 8;
$side-bg: $frame-bg;
$side-width: 28rem;
$side-height: $frame-height;
$side-header-height: 6.4rem;


// Main Content
$main-width: auto;
$main-height: $frame-height;

$main-header-z-index: 5;
$main-header-height: 6.4rem; // $side-content-header-height 와 동일함
$main-header-transition: all ease-in-out 0.04s;

$main-body-height: calc(#{$frame-height} - #{$gnb-height} - #{$main-header-height});

$toolbar-height: 6.4rem;
$card-header-nav-tabs-height : 4.8rem; // 카드 헤더에 탭이 있는 경우


// Tables
$table-header-height: 4rem;
$table-tr-total-height: 5.6rem;
$table-thead-row-height-base: calc(#{$line-height-base} + (#{$spacer} * 2) + (#{$border-width * 3}));



// Chart Colors
//
$legend-1: $blue !default;
$legend-2: $teal !default;
$legend-3: $red !default;
$legend-4: $orange !default;
$legend-5: $tertiary !default;

$theme-charts: ()!default;
$theme-charts: map-merge(
        (
            "legend-1": $legend-1,
            "legend-2": $legend-2,
            "legend-3": $legend-3,
            "legend-4": $legend-4,
            "legend-5": $legend-5
        ),
        $theme-charts
);
// datagrid legend
$datagrid-row-legends: ()!default;
$datagrid-row-legends: map-merge(
        (
            "legend-1": $legend-1,
            "legend-2": $legend-2,
            "legend-3": $legend-3,
            "legend-4": $legend-4,
            "legend-5": $legend-5
        ),
        $datagrid-row-legends
);
