



// 리포트
.page__edit-campaign { 
	.main {
		padding-top: $page-header-height;
	}
}


// 리포트
.page__report { 
	.main {
		padding-top: $page-header-height;
	}
}
 

// 계정관리
.page__account { 
	.main {
		padding-top: $page-header-height;
	}
}