


/*
.divtable {
	margin-bottom: 1rem;
}
.divtable__header {
	background-color: $gray-100;
}
.divtable__body {}
.divtable__tr {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 1px solid $gray-200; 

	&:last-child {
		border-bottom: 1px solid $gray-200;
	}
}
.divtable__th { 
	font-weight: $font-weight-bold;
	padding: $table-cell-padding; 
}
.divtable__td {
	padding: $table-cell-padding;
}
*/
