

// Mainheader
// <main>의 헤더이며, 페이지에 1개만 있음.
.mainheader {
  .mainheader__inner {
    @extend .h-fixed-9;
    @extend .d-flex;
    @extend .border-bottom;
  }
  transition: $main-header-transition;
}


// 스크롤링 할 때 고정시킬 경우
// scrollWindow 스크립트와 함께 사용됨 (../js/tw-atd-normal.js)
.mainheader-sticky.is-fixed {
  position: fixed;
  z-index: $main-header-z-index;
  top: $gnb-height;
  left: 0;
  width: 100%;
  background-color: rgba($component-bg, 0.92);
  @extend .border-bottom;

  .mainheader__inner {
    @extend .border-bottom-0;
  }

  transition: $main-header-transition;
}


// Mainbody
// 여러개 일 수 있으며, 컨텐츠를 포함하는 섹션을 갖고 있음.

.mainbody {
  .mainbody__header {}
  .mainbody__title {
    @extend .font-weight-bold;
    @extend .mb-0;
  }

  section + section,
  .section + .section {
    @extend .pt-2;
  }
  .section {
    .section__header {
      @extend .h-fixed-7;
      @extend .d-flex;
      @extend .align-items-center;
      @extend .justify-content-between;
    }
    .section__title {
      @extend .font-weight-bold;
      @extend .mb-0;
    }
  }

  @extend .pb-6;
}

