

// daterangepicker 스크립트 스타일 추가
//
.daterangepicker.show-calendar .ranges {
  margin-right: auto;
  width: 140px !important;
}
.daterangepicker .calendars-container {
  padding-right: 0 !important;
  padding-left: 0 !important;
}