



// Mixin : 범례용 텍스트 컬러
@mixin datagrid-row-legend-variant($color, $background:$color){
  background-color: $background;
}
// 'datagrid-row-legend="legend-1'로 범례 추가
//
@each $color, $value in $datagrid-row-legends {
  .datagrid-row[data-row-legend="#{$color}"] {
    > .datagrid-cell:first-child,
    > .datagrid-row-absolute:first-child {
      &:before {
        content: " ";
        width: 3px;
        position: absolute;
        left: 0;
        top: $border-width;
        bottom: $border-width;
        z-index: 2;
        @include datagrid-row-legend-variant($value);
      }
    }
  }
}

