//
// *** ATD 전용 스타일 *** //
//


// Forms
.form-group {
  @extend .pt-1;
  @extend .pb-1;
  @extend .m-0;

  & + & {
    border-top: 1px dashed $border-color;
  }
}



// check option group (주의!)
.btn-check-group {
  .btn-check:first-child + .btn {
    border-top-left-radius: $btn-border-radius;
    border-bottom-left-radius: $btn-border-radius;
  }
  .btn-outlined-secondary {
    //border-color: $input-border-color !important;
  }
}

