


// 지역에 사용함. (새 오디언스 > 오프라인 업종)
.list-group-grid {
  @extend .list-group-noedge;
  display: grid;

  .list-group-item {
    border-right-width: $border-width;
    margin-right: -$border-width;
  }
  .list-group-item:last-child {
    border-bottom-width: $border-width;
  }
}

.list-group-grid--2 {
  grid-template-columns: repeat(2, 1fr);
}

.list-group-grid--3 {
  grid-template-columns: repeat(3, 1fr);
}

.list-group-grid--5 {
  grid-template-columns: repeat(5, 1fr);
}


