
// 지역에 사용함.

.list-group-horz2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .list-group-item + .list-group-item {
    border-left: $border-width solid $border-color;
    margin-left: -$border-width;
  }
}
.list-group-horz3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .list-group-item + .list-group-item {
    border-left: $border-width solid $border-color;
  }
  .list-group-item.is-active {
    padding-right: 2.4rem;
    background-position: right 0.8rem center;
  }
}

.list-group-horz5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  .list-group-item + .list-group-item {
    border-left: $border-width solid $border-color;
  }
}

.list-group-borderless {
  .list-group-item {
    border-color: transparent !important;
  }
}