

// 정보 더보기의 팝오버 형태

.more-popover {
  position: relative;
}

.more-popover-body {
  z-index: 2;
  position: absolute;
  padding: ($spacer * 2);
  background-color: $white;
  border: $border-width solid $border-color;
  box-shadow: 0 2px 8px 0 rgba($black, 0.24);
  width: 280px;

  .btn-close {
    @extend .btn-circle-sm;
    top: 0.4rem;
    right: 0.4rem;
    z-index: 3;
  }
}
