
// Toolbar
//
.toolbar {
    padding: ($spacer * 2) 0;
    @extend .d-flex;
    @extend .align-items-center;
}


#toolbar-adinsight {
  .input-group {
    background-color: $white;
    @include border-radius();

    input + .dropdown,
    select + .dropdown,
    .dropdown + .dropdown {
      margin-left: -$border-width;
    }
    .dropdown:not(:first-child){
      > .btn {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }
    }
    .dropdown:not(:last-child){
      > .btn {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
    }
  }
}