

.contentWrapper {
  // twWrapper에서 상속받는 grid property
  grid-row-start: 2;
  grid-column-start: 2;

  width: 100%;
  height: 100%;
}


// 사이드 패널이 있는 경우
.contentWrapper.in-side {
  display: grid;
  grid-template-columns: $side-content-width $main-content-width;
  .sideContent {
    grid-column-start: 1;
  }
  .mainContent {
    grid-column-start: 2;
  }
}


// Side Panel Content
.sideContent {
  height: 100%;
  @extend .border-right;
  background-color: $side-content-bgcolor;
}


// Main Panel Content
.mainContent {
  height: 100%;
}

