

.contentWrapper {
  grid-row-start: 2;
  grid-column-start: 2;
  width: 100%;
  height: 100%;
}


// Main
.mainContent {}

// Side Panel Content
.sideContent {
  height: 100%;
  background-color: $white;
}

// 사이드 패널이 있는 경우
.contentWrapper.in-side {
  display: grid;
  grid-template-columns: 28rem 1fr;

  .sideContent {
    grid-column-start: 1;
    @extend .border-right;
  }
  .mainContent {
    grid-column-start: 2;
  }
}

