
//
// Global Navigation Bar
//

.gnb {
  // GNB스타일 분리하여 아래 속성 사용안함.(2020-09-28)
  // twWrapper에서 상속받는 grid property
  //grid-row-start: 1;
  //grid-column-start: 1;

  position: fixed;
  top: 0;
  left: 0;
  z-index: $gnb-z-index;

  min-width: $gnb-min-width;
  width: $gnb-width;
  height: $gnb-height;
  background-color: $gnb-bgcolor;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  @extend .border-bottom;
  box-shadow: 0 0 4px rgba($black, 0.1);
}

.gnb-brand {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  img {
    width: auto;
    height: 1.6rem;
    padding: 0 1.6rem;
  }
}

.gnb-navbar {
  @extend .px-2;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;

  .start {
    font-weight: $font-weight-bold;
  }

  .navbar-nav {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    .nav-item {
      align-items: center;
      .nav-link {
        @extend .py-1;
        @extend .px-2;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $gnb-nav-link-color;
        &:hover,
        &:focus {
          color: $gnb-nav-link-color;
          background-color: rgba($gnb-nav-link-color, 0.05);
        }

        &[data-release] {
          position: relative;
          &::before {
            position: absolute;
            left: $navbar-padding-x;
            top: 0;
            content: attr(data-release);
            color: $danger;
            font-size: 1rem;
            text-transform: uppercase;
          }
        }
      }
    }

    // Dropdown
    .nav-item.dropdown {
      &.show {
        .nav-link {
          background-color: rgba($gnb-nav-link-color, 0.05);
        }
      }
    }

    // Active
    .nav-item.active  {
      position: relative;
      &:after {
        content:"";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        border-bottom: 4px solid $gnb-nav-link-active-color;
      }
      .nav-link {
        color: $gnb-nav-link-active-color;
      }
    }

    .nav-item.nav-item-user {
      .dropdown-menu {
      }
    }
  }
}