

// Insight > Ad Insight PLUS
// PlUS의 뱃지형 스타일로 GNB와 mainheader에 적용됨.
//
.badge-plus {
  border: 2px solid $body-color;
  border-radius: $border-radius;
  padding: 0 0.64em;
  font-size: 50%;
  line-height: 1.25;
  vertical-align: middle;
}
.dropdown-item > .badge-plus {
  border-width: 1px;
}