

// Insight > Ad Insight PLUS
// PlUS의 뱃지형 스타일로 GNB와 mainheader에 적용됨.
//
.badge-plus {
  border: 1px solid $body-color;
  border-radius: $border-radius;
  padding: $badge-padding-y ($badge-padding-x * 1.25);
  font-size: 60%;
  line-height: 1;
  vertical-align: middle;
}