
// ------------------------------- //
//
// TW Layout Wrapper
//

[class*="twWrapper"] {
  margin-top: $gnb-height;
  min-width: $frame-min-width;
  min-height: $frame-height; // display:grid를 사용하지 않는 레이아웃 지원을 위하여 min-height 사용.(ref. Dashboard)
  background-color: $frame-bg;
  position: relative;
}


// 1Column Layout
// .contentWrapper만 포함하는 레이아웃
//
// <div class="twWrapper-full">
//  <div class="contentWrapper">...</div>
// </div>
//
.twWrapper-full {}


// 2Columns Layout
// SNB를 포함하는 레이아웃인 경우
//
// <div class="twWrapper">
//  <nav class="snb">...</nav>
//  <div class="contentWrapper">...</div>
// </div>
//
.twWrapper {
  display: grid;
  grid-template-columns: $snb-width auto;
  grid-template-areas: "snb main";
  > .snb {
    grid-area: snb;
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    z-index: $snb-z-index;
  }
  > .contentWrapper {
    grid-area: main;
  }
}


// ------------------------------- //
//
// Content Layout
//


// 기본 컨텐츠 패널인 경우
//
// <div class="contentWrapper">
//  <div class="mainContent">...</div>
// </div>
//
.contentWrapper {}


// 사이드 패널이 있는 경우
//
// <div class="contentWrapper in-side">
//  <nav class="sideContent">...</nav>
//  <div class="mainContent">...</div>
// </div>
//
.contentWrapper.in-side {
  display: grid;
  grid-template-columns: $side-width auto;
  grid-template-areas: "side main";
  > .sideContent {
    grid-area: side;
    position: fixed;
    z-index: $side-z-index;
  }
  > .mainContent {
    grid-area: main;
  }
}

