
//
// TW Layout Wrapper
//

// side navigation bar를 갖고 있는 레이아웃 인 경우.
//
.twWrapper {
  background-color: $gray-50;

  display: grid;
  grid-template-rows: $gnb-height 1fr;
  grid-template-columns: $snb-width 1fr;

  min-width: $layout-min-width;
  min-height: $layout-height; //display:grid를 사용하지 않는 레이아웃 지원을 위하여 min-height 사용.(ref. Dashboard)
  overflow: hidden;

  >.contentWrapper {
    grid-row-start: 2;
    grid-column-start: 2;

    width: 100%;
    height: 100%;
  }
}

// full-width
//
.twWrapper-full {
  background-color: $gray-50;
  display: grid;
  grid-template-rows: $gnb-height 1fr;

  min-width: $layout-min-width;
  min-height: $layout-height; //display:grid를 사용하지 않는 레이아웃 지원을 위하여 min-height 사용.(ref. Dashboard)
  overflow: hidden;

  > .contentWrapper {
    grid-row-start: 2;

    width: 100%;
    height: 100%;
  }
}




