
//
// TW Layout Wrapper
//
.twWrapper {
  background-color: $gray-100;

  display: grid;
  grid-template-columns: $snb-width 1fr;
  grid-template-rows: $gnb-height 1fr;

  min-width: $layout-min-width;
  height: 100vh;
  overflow: hidden;
}
