
$gnb-height: 5.6rem;
$h-fixed-8: 6.4rem;
$viewport-width: 1200px;

.twWrapper-full {
  min-width: 1200px;
}
.mainContent#samsungCard-report {
  .container {
    min-width: $viewport-width;
    @media screen and (min-width: 576px) {
      min-width: $viewport-width;
    }
    @media screen and (min-width: 768px) {
      min-width: $viewport-width;
    }
    @media screen and (min-width: 992px) {
      min-width: $viewport-width;
    }
    @media screen and (min-width: 1200px) {
      min-width: $viewport-width;
    }
    @media screen and (min-width: 1201px) {
      max-width: calc(100vw - (16px * 2));
    }
  }

  .card {
    height: calc(100vh - (#{$gnb-height} + #{$h-fixed-8} + 1.6rem));
  }
}

