
$viewport-width: 1408px;

.twWrapper-full {
  min-width: 1440px;
}
.mainContent#samsungCard-report {
  .container {
    min-width: $viewport-width;
    @media screen and (min-width: 576px) {
      min-width: $viewport-width;
    }
    @media screen and (min-width: 768px) {
      min-width: $viewport-width;
    }
    @media screen and (min-width: 992px) {
      min-width: $viewport-width;
    }
    @media screen and (min-width: 1200px) {
      min-width: $viewport-width;
    }
    @media screen and (min-width: 1440px) {
      max-width: calc(100vw - (16px * 2));
    }
  }
}
