//
// *** ATD 전용 스타일 *** //
//


// 광고계정 드랍다운
#dropdown-adaccount-button {
  max-width: 280px;
}

#dropdown-adaccount-button + .dropdown-menu {
  max-width: 280px;

  .dropdown-items {
    max-height: 27rem;
    overflow: auto;
  }
}
