//
// ad insight Stylesheet
// added 2021-04-27
//


.section-adinsight-filter {
  // 유형 선택
  .type-option {}

  // 필터
  .filter-option {
    [class*="col"]{
      height: 3.6rem;
    }
    .filter-option__item {
      .filter-option__item-label {
        width: 10rem;
      }

      .filter-option__item-setting {
        .custom-select,
        .form-control[type="text"],
        .form-control[type="date"]{
          width: 174px;
        }

        // check option group (주의!)
        .btn-check-group {
          .btn-check:first-child + .btn {
            border-top-left-radius: $btn-border-radius;
            border-bottom-left-radius: $btn-border-radius;
          }
          .btn-outlined-secondary {
            border-color: $input-border-color !important;
          }
        }
      }
    }
  }
}