//
// ad insight Stylesheet
// added 2021-04-27
//


.section-adinsight-filter {
  // 유형 선택
  .type-option {}

  // 필터
  .filter-option {
    .filter-option__item {
      height: 3.6rem;

      .filter-option__item-label {
        width: 10rem;
      }
      .filter-option__item-setting {
        .custom-select,
        .form-control {
          width: 184px;
        }

        // check option group (주의!)
        .btn-check-group {
          .btn-check:first-child + .btn {
            border-top-left-radius: $btn-border-radius;
            border-bottom-left-radius: $btn-border-radius;
          }
          .btn-outlined-secondary {
            border-color: $input-border-color !important;
          }
        }
      }
    }
  }
}


// -- 주의! --
// 데이트피커와의 충돌방지 스타일
//
.calendars.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.yearselect.col {
  flex-grow: 1 !important;
  flex-basis: 0 !important;
}