//
// ad insight Stylesheet
// added 2021-04-27
//


.section-adinsight-filter {
  // 유형 선택
  .type-option {}

  // 필터
  .filter-option {
    .filter-option__item {
      height: 3.6rem;

      .filter-option__item-label {
        width: 10rem;
      }
      .filter-option__item-setting {
        .custom-select,
        .form-control {
          width: 184px;
        }
      }
    }
  }
}


// -- 주의! --
// 데이트피커와의 충돌방지 스타일
//
.calendars.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.yearselect.col {
  flex-grow: 1 !important;
  flex-basis: 0 !important;
}


// adinsight(2) filterbar
// 한 줄 형태의 분석 필터 옵션을 나열함.
//
#adinsightFilterbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  .form-group {
    margin: 0;
    .form-label {
      margin-bottom: $input-padding-y;
      padding-left: $input-padding-x;
      font-size: $font-size-sm;
      line-height: 1.5;
      color: $mute;
    }
  }
  .form-group + .form-group {
    .form-label {
      border-left: $border-width solid $border-color;
    }
  }
  .form-group:not(:first-child) {
    > input,
    > select,
    > .btn,
    > .dropdown > .btn,
    > .input-group > select,
    > .input-group > input,
      // 기간 범위 피커 클래스 포함
    .mx-datepicker > .mx-input-wrapper > input {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }
  .form-group:not(:last-child) {
    margin-right: -$input-border-width;
    > input,
    > select,
    > .btn,
    > .dropdown > .btn,
    > .input-group > select,
    > .input-group > input,
    // 기간 범위 피커 클래스 포함
    .mx-datepicker > .mx-input-wrapper > input {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
  .mx-datepicker > .mx-input-wrapper > input {
    border-color: $input-border-color;
  }
}