// 광고계정 드랍다운
#dropdown-adaccount-button {
  max-width: 280px;
}

#dropdown-adaccount-button + .dropdown-menu {
  max-width: 280px;

  .dropdown-items {
    max-height: 27rem;
    overflow: auto;
  }
}

// 열설정 드랍다운
// dropdown-columns-link
#list-columns-setting {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  > li {
    padding-top: ($spacer / 2);
    padding-bottom: ($spacer / 2);
  }
}

// .card-header 안의 .tab을 사용할 경우
#card-header-start-tab {
  .tab-item {
    border-top-color: transparent;
  }

  .tab-item:first-child {
    border-left-color: transparent;
  }
}


// Forms
.form-group {
  @extend .pt-1;
  @extend .pb-1;
  @extend .m-0;

  & + & {
    border-top: 1px dashed $border-color;
  }
}




