

// 대시보드 컨텐츠가 더미 데이터 일 경우
#dashboard {
  &.is-blank {
    .container {
      padding-bottom: $spacer * 12;
    }
  }
}

// Blankslate floating bar
// 전체 데이터가 더미일 때 블랭크슬레이트 바
//
// 메인 컨텐츠 보다 위에 떠있으며 부모 div .is-blank에 상태 클래스와 함께 사용하여,
// 맨 하단의 내용을 가리지 않고 볼 수 있도록 할 것.
.blankslate-floating-bar {
  z-index: 10;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0;
}



// Project - Dropdown
//
.dropdown-project-content {
  @extend .p-0;
  @extend .d-flex;
  @extend .align-items-stretch;

  .col-left {
    width: 220px;
  }
  .col-right {
    width: 300px;
    @extend .border-left;

    @extend .d-flex;
    @extend .flex-column;
    @extend .align-content-start;
  }
}

// 선택된 프로젝트 정보
.project-info {
  .project-info__header {}
  .project-info__detail {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }
}

// 등록한 프로젝트 리스트
.project-list {
  max-height: 254px;
  overflow-y: auto;
  .dropdown-item {
    @extend .py-1;
    @extend .text-truncate;
    &.is-active {
      @extend .font-weight-bold;
    }
  }
}


// Trend Event Detail - dropdown
//
.dropdown-menu__eventDateDetail {
  width: 38rem;
  #datagrid-eventDate-campaign {
    .datagrid-body {
      max-height: 160px;
      overflow-y: auto;
    }
  }
  #datagrid-eventDate-desc {
    .datagrid-body {
      max-height: 80px;
      overflow-y: auto;
    }
  }
}


// Project Editor -- modal slideout
//
.modal-project-editor {}




