


/* --------------------------------------------------- */
// 대시보드 레이아웃
#dashboard {
  // mainheader는 스크롤 했을 경우 플로팅됨
  > .mainheader {
    @extend .d-flex;
    @extend .align-items-stretch;
    .container {
      @extend .d-flex;
      @extend .align-items-stretch;
      margin-bottom: 0 !important;
    }
    .mainheader__inner {
      @extend .d-flex;
      @extend .align-items-center;
      margin-bottom: 0 !important;
      @extend .border-bottom;
      width: 100%;
    }
  }
  // 짝수번째 .mainbody 컨텐츠는 흰색 배경을 갖음.
  > .mainbody{
    @extend .pb-6;

    &:nth-child(even) {
      @extend .border-top;
      @extend .border-bottom;
      background-color: $component-bg;
    }
  }
}

/* --------------------------------------------------- */
// 대시보드 컨텐츠가 더미 데이터 일 경우
//
// Blankslate floating bar -- 전체 데이터가 더미일 때 블랭크슬레이트 바
// 메인 컨텐츠 보다 위에 떠있으며 부모 div .is-blank에 상태 클래스와 함께 사용하여,
// 맨 하단의 내용을 가리지 않고 볼 수 있도록 할 것.
.blankslate-floating-bar {
  z-index: 10;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0;
  @extend .h-fixed-8;
}
#dashboard.is-blank {
  > .mainbody:last-child {
    padding-bottom: $spacer * 12;
  }
}


/* --------------------------------------------------- */
// Project - Dropdown
//
.dropdown-project-content {
  @extend .p-0;
  @extend .d-flex;
  @extend .align-items-stretch;

  .col-left {
    width: 220px;
  }
  .col-right {
    width: 300px;
    @extend .border-left;

    @extend .d-flex;
    @extend .flex-column;
    @extend .align-content-start;
  }
}

// 선택된 프로젝트 정보
.project-info {
  @extend .py-3;
  @extend .px-2;

  .project-info__header {}
  .project-info__detail {
    @extend .px-2;
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }
}

// 등록한 프로젝트 리스트
.project-list {
  max-height: 254px;
  overflow-y: auto;
  .dropdown-item {
    @extend .py-1;
    @extend .text-truncate;
    &.is-active {
      @extend .font-weight-bold;
    }
  }
}

/* --------------------------------------------------- */
// Trend Event Detail - dropdown
//
.dropdown-menu__eventDateDetail {
  width: 38rem;
  #datagrid-eventDate-campaign {
    .datagrid-body {
      max-height: 160px;
      overflow-y: auto;
    }
  }
  #datagrid-eventDate-desc {
    .datagrid-body {
      max-height: 80px;
      overflow-y: auto;
    }
  }
}

/* --------------------------------------------------- */
// Project Editor -- modal slideout
//
#modal-project-editor {}


#modal-project-channel-editor {
     .datagrid-responsive {
       // 고정 높이값 : 100vh - (모달 헤더 높이값(85px) + 모달 바디 탑 패딩(8px) + 광고계정 필터 옵션 높이(89px))
       // 주의! -- 측정된 높이값이 적용되어 있음.
      height: calc(100vh - (182px));
    }
}

/* --------------------------------------------------- */
// Project Layout
#modal-project-layout-app,
#modal-project-layout-web {
  .modal-body {
    @extend .px-2;
    @extend .py-3;
    .project-layout {
      @extend .d-flex;
      @extend .justify-content-center;
    }
    .project-layout__type {
      @extend .px-2;
      @extend .d-flex;
      @extend .flex-column;
      @extend .justify-content-center;

      .custom-control {
        @extend .mx-auto;
      }
    }
  }
}


/* --------------------------------------------------- */
/* 프로젝트의 이벤트와 자료 관리 */
.section-manage-event,
.section-manage-file {
  .card {
    background-color: $component-bg-alt;
  }
  .datagrid {
    .datagrid-body {
      height: 195px; // 고정된 높이값으로 영역 지정되어 있음. 이벤트와 자료의 영역을 동일하게 만들기 위함.

      > .datagrid-row:last-child {
        .datagrid-cell {
          border-bottom: $border-width solid $border-color;
          margin-bottom: -$border-width; // row의 개수가 높이값을 다 채웠을때 마지막 라인이 2줄로 되는 경우를 피하기 위해 추가함.
        }
      }
    }
  }
}