$icomoon-font-family: "adicons" !default;
$icomoon-font-path: "fonts" !default;

$ic-mobileindex: "\e9ad";
$ic-bora: "\e9ae";
$ic-category: "\e9ac";
$ic-postback: "\e9aa";
$ic-onboarding: "\e9a7";
$ic-audience-mix: "\e9a9";
$ic-game: "\e9a6";
$ic-persona: "\e9a8";
$ic-video: "\e99b";
$ic-text: "\e9a0";
$ic-gallery: "\e9af";
$ic-more-horz: "\e9ab";
$ic-web: "\e98d";
$ic-gender: "\e9a3";
$ic-mobile-os: "\e9a2";
$ic-apps: "\e9a1";
$ic-list-nested: "\e99e";
$ic-list: "\e99f";
$ic-store-fill: "\e9a4";
$ic-store: "\e99c";
$ic-cake-fill: "\e9a5";
$ic-cake: "\e99d";
$ic-bell-alert-path1: "\e90a";
$ic-bell-alert-path2: "\e911";
$ic-bell: "\e913";
$ic-delete: "\e915";
$ic-grid: "\e997";
$ic-analysis: "\e97c";
$ic-trends: "\e996";
$ic-chart-pie: "\e983";
$ic-credit-card-light: "\e989";
$ic-credit-card-solid: "\e98a";
$ic-camera: "\e98b";
$ic-image: "\e98c";
$ic-map-marker-alt: "\e98e";
$ic-map: "\e98f";
$ic-theater-masks: "\e990";
$ic-lock-alt: "\e991";
$ic-lock: "\e998";
$ic-unlock-alt: "\e999";
$ic-unlock: "\e994";
$ic-mobile: "\e995";
$ic-layout: "\e934";
$ic-long-arrow-alt-down: "\e906";
$ic-long-arrow-alt-left: "\e986";
$ic-long-arrow-alt-right: "\e987";
$ic-long-arrow-alt-up: "\e988";
$ic-file-report: "\e985";
$ic-dashboard: "\e984";
$ic-envelope: "\e97e";
$ic-envelope-open: "\e982";
$ic-exclamation: "\e932";
$ic-info-circle: "\e97b";
$ic-info: "\e97d";
$ic-question-circle: "\e992";
$ic-arrow-bottom: "\e993";
$ic-arrow-top: "\e97a";
$ic-hourglass: "\e97f";
$ic-logo--facebook: "\e980";
$ic-logo--naver: "\e981";
$ic-android: "\e976";
$ic-apple: "\e977";
$ic-intersection: "\e972";
$ic-union: "\e973";
$ic-left-parenthesis: "\e974";
$ic-right-parenthesis: "\e975";
$ic-funnel: "\e971";
$ic-table: "\e970";
$ic-user-minus: "\e96f";
$ic-acquisition: "\e94d";
$ic-activation: "\e978";
$ic-appusage: "\e979";
$ic-basicusage: "\e950";
$ic-retention: "\e951";
$ic-sectorsusage: "\e96e";
$ic-arrows-horz: "\e94c";
$ic-reward: "\e96b";
$ic-sort-down: "\e96c";
$ic-sort-up: "\e96d";
$ic-adbrix: "\e95f";
$ic-ai-chip: "\e960";
$ic-clock-undo: "\e961";
$ic-file-upload-fill: "\e962";
$ic-file-upload: "\e963";
$ic-folder-add-fill: "\e964";
$ic-minus-square-fill: "\e965";
$ic-more-vert: "\e99a";
$ic-puzzle: "\e968";
$ic-tag: "\e969";
$ic-user-tag: "\e96a";
$ic-check-all: "\e95e";
$ic-chart-line: "\e95d";
$ic-chart: "\e95c";
$ic-rows-close: "\e959";
$ic-rows: "\e95a";
$ic-monitoring: "\e95b";
$ic-question-circle-fill: "\e958";
$ic-scroll-top: "\e957";
$ic-calendar-check: "\e953";
$ic-coin: "\e954";
$ic-user: "\e955";
$ic-users: "\e956";
$ic-calendar: "\e952";
$ic-file-excel: "\e94b";
$ic-arrow-expand-horiz: "\e937";
$ic-caret-bottom: "\e942";
$ic-caret-left: "\e943";
$ic-caret-right: "\e944";
$ic-caret-top: "\e945";
$ic-eye-slash: "\e946";
$ic-eye: "\e947";
$ic-sort-amount-down: "\e948";
$ic-sort-amount-up: "\e949";
$ic-sort: "\e94a";
$ic-check: "\e909";
$ic-download-circle-fill: "\e941";
$ic-download-square-fill: "\e940";
$ic-download: "\e933";
$ic-share: "\e93c";
$ic-minus: "\e93f";
$ic-edit: "\e93b";
$ic-close-circle-fill: "\e938";
$ic-close-circle: "\e939";
$ic-close: "\e93a";
$ic-list-alt-fill: "\e936";
$ic-youtube: "\e935";
$ic-megaphone: "\e900";
$ic-reload: "\e901";
$ic-arrow-left: "\e902";
$ic-arrow-right: "\e903";
$ic-audience: "\e904";
$ic-bars: "\e905";
$ic-square: "\e907";
$ic-circle-fill: "\e91a";
$ic-circle: "\e91b";
$ic-ball: "\e931";
$ic-square-fill: "\e908";
$ic-check-square-fill: "\e90c";
$ic-check-square: "\e90d";
$ic-check-circle: "\e90b";
$ic-chevron-circle-top: "\e90e";
$ic-chevron-circle-down: "\e90f";
$ic-chevron-circle-left: "\e910";
$ic-chevron-circle-right: "\e912";
$ic-chevron-circle-fill-top: "\e916";
$ic-chevron-circle-fill-down: "\e914";
$ic-chevron-circle-fill-left: "\e917";
$ic-chevron-circle-fill-right: "\e918";
$ic-chevron-top: "\e919";
$ic-chevron-bottom: "\e91c";
$ic-chevron-left: "\e91d";
$ic-chevron-right: "\e91e";
$ic-cog: "\e921";
$ic-device: "\e91f";
$ic-info-circle-fill: "\e920";
$ic-exclamation-circle-fill: "\e922";
$ic-exclamation-triangle-fill: "\e924";
$ic-external-link: "\e923";
$ic-file: "\e925";
$ic-folder-fill: "\e966";
$ic-folder-open-fill: "\e967";
$ic-folder-open: "\e94f";
$ic-folder: "\e94e";
$ic-insync: "\e927";
$ic-package: "\e928";
$ic-play-circle-fill: "\e929";
$ic-minus-circle-fill: "\e93d";
$ic-minus-circle: "\e93e";
$ic-plus-circle-fill: "\e92a";
$ic-check-circle-fill: "\e926";
$ic-plus-circle: "\e92b";
$ic-plus: "\e92c";
$ic-search: "\e92d";
$ic-subdirectory-left: "\e92e";
$ic-subdirectory-right: "\e92f";
$ic-sync: "\e930";

